@media (max-width: 1170px) {
    .container {
        max-width: 967px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 767px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .row {
        display: block;

    }
}
@media (max-width: 540px) {
    .container {
        max-width: none;
    }
    .content__item {
        height: 300px;
    }
    .block {
        width: 100px;
        height: 100px;
    }
    .control_panel {
        height: 500px;
        width: 250px;
        margin-bottom: 20px;
    }
    .out {
        width: 200px;
        height: 160px
    }
    input {
        margin-bottom: 20px;
    }
    }




